
os:
  - linux
  # - osx
  # - windows


language: python
python:
  - "3.6"      # current default Python on Travis CI
  - "3.7"      # current default Python on Travis CI
  - "3.8"
  - "3.9"

  
# command to install dependencies
install:
  - pip install .
  
# command to run tests
script:
  - pytest -v

notifications:
  email:
    recipients:
      - hananytolba@yahoo.com
      - hanany100@gmail.com
    on_success: never # default: change
    on_failure: always # default: always