recursive-include makeprediction/LICENSE 
recursive-include makeprediction/ *.txt
recursive-include makeprediction/tests *.py
recursive-include makeprediction/tests *.py

recursive-include makeprediction/assets/ *


